#main-navbar {
  background-color: blue;
  overflow:  hidden;
  position: relative;

}

#main-navbar ul {
  list-style-type: none;
  display: block;
  margin: 0;   
  padding: 0;

}

#main-navbar ul li {
  float: left;

}

#main-navbar ul li a {
  display: block;
  position: relative;
  padding: 10px 20px
  color:  #fff;
  text-decoration: none;
  float: left;
  left: 50%;
  right: 50%;
}

#main-navbar ul li a:hover {
  background-color: #000;
}

#navbar-container {
  width: 100%;
  position:  relative;
  float: left;

}

#main-navbar #onpage {
  text-decoration: underline overline;
}

#sidebar {

}

#sidebar ul {

}

#sidebar-container {
  position: fixed;
}

/**
NAVIGATION

----------------------------------------


FOR SIDEBAR
right: 0%
background-color: red;
height: 100%;
width: 20%;
list-style-type: none;
text-align: center;
padding: 0;
display: block;
padding: 15px 0;
color: #fff;
text-decoration: none;
background-color: #000;

