#main-navbar {
  
}

#navbar-container {
  width: 100%;
  background-color: blue;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#main-navbar ul {
  list-style-type: none;
  padding: 10px 20px;
  display: block;
  position: relative;
  right: 50%;
  left: 50%;
}

#main-navbar ul li {
  float: left;
}

#main-navbar ul li a {
  display: block;
  float: left;
  text-decoration: none;
  color:  #fff;

}

#main-navbar ul li a:hover {
  background-color: #000;
}

#main-navbar #onpage {
  text-decoration: underline overline;
}

#sidebar ul { 
  list-style-type: none;
  padding: 0;
}

#sidebar ul li {
  text-align: center;
}

#sidebar ul li a {
  padding: 15px 0;
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar ul li a:hover {
  background-color: #000;
}

#sidebar-container {
  background-color: red;
  position: fixed;
  height: 100%;
  width: 20%;
  right: 0%;
}

/**
NAVIGATION
position: relative;
float: left;
----------------------------------------
